<h1>CONTACT !</h1>
<p> Pour nous contacter il faut : </p>
<ul>
	<li> Brûler un arbre ancien </li>
	<li> Fabriquer un long tissu avec une peau de Yéti </li>
	<li> Faire des ronds de fumée à l'aide du tissu préalablement fabriqué </li>
</ul>
